.toolbox{
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px #ddd;
  text-align: center;
  font-size: 20px;
}
.logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #ddd;
}
