<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button shape="round"  expand="block" (click)="presentAlert()">Alert Open</ion-button>
  <ion-button  expand="block" (click)="presentAlertMultipleButtons()">Alert Multiple Buttons</ion-button>
  <ion-button shape="round"  expand="block" (click)="presentAlertConfirm()">Alert Confirm</ion-button>
  <ion-button shape="round"  expand="block" (click)="presentAlertPrompt()">Alert Prompt</ion-button>
  <ion-button shape="round"  expand="block" (click)="presentAlertRadio()">Alert Radio</ion-button>
  <ion-button shape="round"  expand="block" (click)="presentAlertCheckbox()">Alert Checkbox</ion-button>


</ion-content>
